<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <form method="POST" action="/shopify">
          <div class="form-group">
            <label for="shopName"
              >Enter Shop Name (only domain name without http:// or
              https://)</label
            >
            <input
              name="shop"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              placeholder="Shop Name"
            />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
